<ion-view title="Sociogram" hide-back-button="true" style="background: #1b5a83" hide-nav-bar="true">

    <ion-content has-header="true" padding="true">

        <div class="list list-inset"  style="background: #1b5a83">

            <div class="item item-image" style="border:none;margin-top:50px;">
                <img src="img/sociogram.jpg"/>
            </div>

            <button class="button button-block button-light" ng-click="facebookLogin()">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Facebook
            </button>


        </div>

    </ion-content>

</ion-view>