<ion-view title="Profile">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">

        <div class="list card">
            <div class="item">
                <h2>{{user.name}}</h2>
                <p>{{user.email}}</p>
            </div>
            <div class="item item-image">
                <img ng-src="https://graph.facebook.com/{{ user.id }}/picture?width=400&height=400" />
            </div>
        </div>

    </ion-content>

</ion-view>
